@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: $font-primary;
  font-size: 20px;
  font-weight: 600;
}

.user-image,
.user-image img {
  width: 38px;
  height: 38px;
}

.searchbar {
  position: relative;
  .searchbar-input {
    height: 30px;
    width: 281px;
    padding: 1rem;
    border-radius: 4px;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
  .reset-search {
    position: absolute;
    right: 8px;
    top: 8px;
    .close-icon {
      height: 16px;
      cursor: pointer;
    }
  }
}
